	body {
		font-family: 'Work Sans', sans-serif;
		font-size: 14px;
	}
	.cont-menu,
	.content-aboutus,
	.wedo-content,
	.team-content,
	.offer-content,
	.repaire-content,
	.pricing-content,
	.client-content,
	.contact,
	.info-content,
	.footer-content {
		margin: 0 auto;
		max-width: 1350px;
	}

/*common style*/

	p{
	letter-spacing: 1px;	
	line-height: 1.8em;
	}

	.boldh3 {
		text-align: center;
		font-size: 2.8em;
	    color: #262c38;
	    letter-spacing: 1px;
	    position: relative;
	    font-weight: 600;
	    margin-bottom: 50px;
	}

	.team::after,
	.pricing:after,
	.designs::after,
	.offer::after,
	.client::after,
	.contact::after,
	.info::after,
	.footer::after,
	.footer-content::after {
		display: table;
	    content: " ";
	    clear: both;
	}

	.articleh4 {
		margin: 1em 0 0.5em 0;
	    font-size: 1.8em;
	    font-weight: 500;
	    letter-spacing: 1px;
	}


	.underline {
		border-bottom: 2px solid #EB5424;
	}



	.blue {
		color: #00ACEE;
	}


/*header*/
	.header {
		background-color: #000;
		padding-top: 30px;
		padding-bottom: 15px;
	}


	.logo {
		margin: 0 auto;
		text-align: center;
	}

	.logo h1 {
		margin: 0;
		padding: 0;
	}

	.logo h1 a {
		font-family: 'Work Sans', sans-serif;
		font-size: 1.3em;
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
		font-weight: bolder;
		letter-spacing: 1px;
	}

/*menu*/

	.cont-menu {
		padding: 32px 15% 15px;
	}

	.head-menu {
		display: flex;
		justify-content: space-between;
	}

	.head-menu p,
	.menu>li a {
		margin: 0;
		color: #fff;
		font-size: 1em;
	}

	.head-menu .fa-phone {
		padding-right: 1em;
	}


	.menu {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: center;
	}

	.menu>li {
		margin: 0;
		display: inline-block;
		padding: 0 20px;
		border-left: 1px solid #4A4A4A;
		border-right: 1px solid #4A4A4A;
	}

	.menu li:first-child {
		border-left: none;
	}

	.menu li:last-child {
		border-right: none;
	}

	.menu>li a {	
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.7px;
	}

	.menu>.active>a>p {
		color: #FF9000;
	}


	.menu>li:hover a p {
		transform: scale(1.2);
		color: #FF9000;
	}

/*drop down*/
	.dropdown-menu {
		padding: 0;
		border-radius: 0;
		min-width: 150px;
		left: -20px;
	}
	.dropdown-menu>li {
		padding: 5px 10px;
		text-align: center;
	}

	.dropdown-menu>li:hover {
		background-color: #00ACEE;
	}

/*banner*/


	.banner .carousel-inner .item img {
		-webkit-filter: grayscale(20%) brightness(0.8) sepia(0.1);
		min-height: 400px;
	}

	.banner .carousel-indicators {
		bottom: 20%;
	    left: 10%;
	}

	.banner .carousel-caption {
	    padding-top: 10em;
	    text-align: left;
	    left: 5%;
	    bottom: 30%;
	}

	.banner .carousel-caption>h3 {
		margin: 0;
		font-size: 3em;
	    letter-spacing: 5px;
	}

	.banner .carousel-caption p {
		margin-top: 15px;
		padding-bottom: 30px;
	    letter-spacing: 13px;
	    font-size: 1em;
	    font-weight: bold;
	    color: #fff;
	    margin: 1em 0 2em 0;
	}

	.banner .carousel-control {
		width: 5%;
		font-size: 3em;
		z-index: 1000;
	}

	.banner .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left {
	    left: 20%;
	}

	.banner .carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
	    right: 20%;
	}

/*slide button*/

	.slide-btn {
		text-shadow: none;
		max-width: 160px;
	}

	.slide-btn>a,
	.text-content>a {
		padding: 15px;
		background-color: #F9B500;
		color: #fff;
		font-size: 1em;
		letter-spacing: 2px;
		font-weight: bold;
		text-decoration: none;
		transition: 0.7s all;
	}

	.slide-btn:hover a {
		background-color: #00ACEE;
	}

/*block about us*/

	.aboutus {
		padding-bottom: 150px;
	}

	.head-aboutus {
		text-align: center;
	}

	.head-aboutus h2 {
	    font-size: 2.3em;
	    font-weight: 300;
	    letter-spacing: 2px;
	    margin-bottom: 0.5em;
	}

	.content-aboutus {
		margin:0 auto;
		max-width: 95%;
		display: flex;
		justify-content: space-between;
	}

	.photo-content {
		position: relative;
		padding-left: 10%;
	}

	.photo-content>img:first-child {
		width: 400px;
	}

	.photo-content>img:last-child {
		top: 120px;
		left: 0;
		width: 300px;
		position: absolute;
		z-index: 2;
	}

	.text-content {
		margin-bottom: 40px;
		margin-right: 20px;
		padding: 0 35px 0 25px;
	}



	.text-content p {
	    font-size: 14px;
	    margin-top: 1em;
	    color: #717171;
	}

	.text-content p:last-of-type {
		padding-bottom: 30px;
	}

	.text-content>a {
		font-size: 1.1em;
		font-weight: normal;
		transition: 0.5s all;
	}

	.text-content>a:hover {
		background-color: #00ACEE;
	}

/*black block WHAT we do*/

	.wedo {
		padding: 30px 0 60px;
		background-color: #000;
	}

	.wedo-head h3 {
		color: #fff;
	}

	.wedo-content {
		margin: 0 auto;
		max-width: 90%;
	}

	.wedo-content div {
		text-align: center;
		color: #fff;
	}

	.wedo-content div:nth-child(4),
	.wedo-content div:nth-child(5),
	.wedo-content div:nth-child(6) {
		margin-top: 2.5em;
	}

	.wedo-content div .icon {
		margin: 0 auto 1em;
		width: 90px;
	    height: 90px;
	    background: none;
	    border: solid 2px #fff;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}

	.wedo-content div .fa {
	    font-size: 2em;
	}


	.wedo-content h5 {
		color: #FFB900;
		font-size: 1.2em;
	    letter-spacing: 4px;
	}

	.wedo-content p {
		position: relative;
		padding-top: 35px;
		color: #808489;
	}

	.span-line {
		height: 1%;
		width: 20%;
		background-color: #fff;
		position: absolute;
		top: 10%;
		left: 40%;
	}

	.wedo-content div:hover .icon {
		animation: color 1s linear 1;
		animation-fill-mode: forwards;
	}

	.wedo-content div:hover div .fa {
		animation: icon 1s linear 1;
		animation-fill-mode: forwards;
	}

	@keyframes color {
	    from { background-color: rgba(250,250,250,0);}
	    to { background-color: rgba(250,250,250,1); }
	}

	@keyframes icon {
	    100% { color: rgba(0,0,0,1);}
	}

	.wedo-content div:hover h5,
	.wedo-content div:hover p {
		color: #fff;
	}

/*block TEAM*/

	.team {
		padding: 30px 0;
	}

	.team-content {
		margin: 0 auto;
		padding: 0 10px;
		max-width: 90%;
	}

	.team-item {
		text-align: center;
	}

	.team-item img {
		width: 250px;
	}

	.team-item h3 {
		font-size: 1.4em;
	    font-weight: 600;
	    letter-spacing: 1px;
	}

	.team-item p {
		margin: 0;
	    color: #00ACEE;
	    margin-bottom: 1em;
	    font-size: 1em;
	}

	.team-item ul {
		margin: 0;
		padding: 0;
		padding: 1.5em 0;
		text-decoration: none;
		list-style: none;
		border-top: 1px solid #ccc;
	}

	.team-item ul li {
		display: inline-block;
	}

	.team-item ul li a {
		margin: 0 5px;
		color: #000;	
	}

	.team-item ul li a .fa {
		font-size: 1.2em;
	}

/*block designs*/
	.designs {
		padding: 10px 0 20px;
	}


	.designs-content {
		text-align: center;
	}

	.designs-content div {
		margin: 0;
		padding: 0;
	}

	.designs-content img {
	    width: 100%;
	}

	.team-item ul li i {
		transition: 0.5s all;
	}

	.team-item ul li:hover i {
		color: #00ACEE;
	}

/*block Current Offers*/

	.offer {
		padding: 30px 5%;
		min-height: 500px;
	}

	.panel-group .panel {
	    border-radius: 0;
	}

	.panel-default>.panel-heading {
	    color: #fff;
	    background-color: #000;
	    border-color: #000;
	    border-radius: 0;
	}

	.panel-title>a {
		padding-left: 0.7em;
		text-decoration: none;
		font-size: 1em;
	    text-transform: capitalize;
	    letter-spacing: 1px;
	}

	.panel-title>span {
		font-size: 0.8em;
	}


/*Gallery slider*/

	.sp-thumbnail:hover {
		animation: opacity 0.3s linear 1;
		animation-fill-mode: forwards;
	}

	@keyframes opacity {
		40%{opacity: 0.7;}
		100%{opacity: 0.6;}
	}


	.sp-selected-thumbnail {
		border: 2px solid #00ACEE;
	}


/*block Repaire*/

	.repaire {
		background: url(../img/banner4.jpg) no-repeat;
		background-attachment: fixed;
		background-size: cover;
		min-height: 380px;
	    text-align: center;
	}

	.repaire-content {
		margin: 0 auto;
		padding-right: 15px;
	    padding-left: 15px;
	    max-width: 1200px;
	}

	.repaire-content>h6 {
		margin: 0;
		font-size: 3.5em;
	    text-align: center;
	    letter-spacing: 5px;
	    color: #fff;
	    font-weight: 300;
	    padding-top: 3em;
	    margin-bottom: 0.8em;
	}

	.repaire-content>.slide-btn {
		margin: 0 auto;
	}


/*block Pricing*/

	.pricing {
		padding: 1.5em 0 3em;
	}

	.pricing-content {
		margin: 0 auto;
		max-width: 90%;
	}

	.pricing-top {
		padding: 1.2em 0;
	    text-align: center;
	}

	.pricing-top h3 {
	    color: #fff;
	    font-size: 2.5em;
	    margin: 0;
	    font-weight: 100;
	}

	.pricing-top p {
		margin: 0;
		margin-top: 1em;
	    color: #fff;
	    font-size: 0.9em;
	    
	}

	.pricing-top p span {
	    font-size: 4em;
	    font-weight: 600;
	    color: #fff;
	    transition: 0.5s all;
	}

	.orange {
		background-color: #FEB800;
	}

	.pink {
		background-color: #E91E63;
	}

	.green {
		background-color: #6CBC35;
	}

	.pricing-content>div {
		padding: 0;
		padding: 0 10px;
		text-align: center;
		transition: 0.5s all;
	}

	.pricing-content div:hover .pricing-top {
		background-color: #00ACEE;
	}

	.pricing-content div:hover .pricing-btn a.pricing-a {
		background-color: #00ACEE;
	}

	.pricing-content>div:hover{
	    transform: scale(1.04);
	}

	.pricing-bottom {
		padding: 0;
		padding: 4em 2em;
		background-color: #F5F6F6;
	}

	.pricing-bottom p span {
	    font-weight: 600;
	}

	.pricing-bottom p {
	    font-size: 1em;
	    margin-bottom: 1em;
	}

	.pricing-bottom p:last-child {
	    margin-bottom: 0;
	}

	.pricing-btn {
		padding: 0;
		padding: 0 2em 4em;
		background-color: #F5F6F6;
	}

	.pricing-btn a {
	    padding: 0.7em 1.5em;
	    color: #fff;
	    text-decoration: none;
	    text-align: center;
	    transition: 0.5s all;
	}

	.pricing-content div:first-child .pricing-btn a {
	    background-color: #ffb900;
	}

	.pricing-content div:nth-child(2) .pricing-btn a {
	    background-color: #E91E63;
	}

	.pricing-content div:nth-child(3) .pricing-btn a {
	    background-color: #6CBC35;
	}

/*block WHAT Client SAY*/

	.client {
		padding: 30px 0 50px;
		background-color: #00ACEE;
	}

	.client>h3 span.blue {
		color: #fff;
	}

	.client-content {
		padding-top: 2.5em; 
	}
	/*client text*/
	.client-text {
		padding: 0 4.5em;
	}


	.client-text>p {
	    margin: 1em 0;
	    font-size: 1.2em;
	}

	.client-text .slide-btn {
	    text-align: left;
	    margin-top: 3em;
	}

/*client slider*/

	.client-slider {
		text-align: center;
	}
	.client-slider .carousel {
		width: 70%;
		margin: 0 auto;
		text-align: center;
	}

	.client-slider .item {
		border: 3px solid #027FAF;
		padding: 3em 4.5em;
	}

	.client-slider .item img{
		margin: 0 auto;
		display: inherit;
	}

	.client-slider .item .carousel-caption {
		margin: 0!important;
		padding: 0!important;
		position: static;
	}


	.client-slider .carousel-indicators {
		position: static;
		margin: 0 auto;
		padding: 0;
		padding-top: 15px;
	}

	.client-slider .carousel-indicators li {
		margin-right: 5px;
		width: 12px;
		height: 12px;
		background-color: #027FAF;
		border-color: #027FAF;
	}

	.client-slider .carousel-indicators .active {
		background-color: #000;
		border-color: #000;
	}

	.client-slider .item .carousel-caption h4 {
		margin: 1em 0;
	    color: #fff;
	    font-size: 1.4em;
	    letter-spacing: 1.5px;
	    font-weight: bold;
	    text-shadow: none;
	}

	.client-slider .item .carousel-caption>p {
		margin: 0;
		color: #fff;
	    font-size: 0.85em;
	    letter-spacing: 2px;
	    font-weight: bold;
	    text-shadow: none;
	}

/*block Contact*/
	.contact {
		max-width: 85%;
		margin: 0 auto; 
		padding: 40px 0;
	}

	.contact-detail,
	.contact-form {
		padding: 0 1em;
	}

	.contact-detail p:first-of-type {
		margin: 0;
		padding: 0;
		margin-top: 1em;
		color: #A1A1A1;
	    font-size: 1em;
	}

	.contact-detail p:not(:first-of-type) {
	    font-size: 16px;
	    margin-top: 1em;
	    color: #949393;
	}

	.contact-detail i {
	    width: 32px;
	    height: 32px;
	    background: #111;
	    line-height: 2em;
	    border-radius: 50%;
	    margin-left: 14px;
	    text-align: center;
	    color: #fff;
	}

	.contact-form form {
		width: 100%;
	}

	.contact-form form *:not(:last-child) {
		margin-bottom: 1em;
	    padding: 15px;
		width: 100%;
		outline: none;
	    border: none;
	    font-size: 1em;
	    color: #888;
	    background: #f9fcfd;
	    border: 1px solid #ddd;
	}


	.contact-form input[type="submit"] {
	    outline: none;
	    display: inline-block;
	    text-decoration: none;
	    outline: none;
	    font-size: 1em;
	    padding: 13px 65px;
	    background: #ffb900;
	    border: 2px solid #ffb900;
	    color: #fff;
	    transition: 0.7s all;
	    text-transform: uppercase;
	    font-weight: 600;
	    letter-spacing: 1px;
	}

	.contact-form input[type="submit"]:hover {
		color: #fff;
		background: #2196F3;
		border-color: #2196F3;
	}


/*map*/

	.map {
		padding: 5px 0;
	}

/*info*/

	.info {
		margin: 0 auto;
		padding: 50px 5%;
		background-color: #00ACEE;
	}

	.info-content div div:first-of-type {
		margin-right: 1em;
		width: 120px;
	    height: 80px;
	    background-color: #000;
	    text-align: center;
	    position: relative;
	    overflow: hidden;
	    transition-property: color;
	    transform: perspective(1px) translateZ(0);
	    transition-duration: 0.3s;
	}

	.info-content>div {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.info h3 {
		margin: 0.5em 0;
		font-size: 0.9em;
	    color: #fff;
	    letter-spacing: 1px;
	    font-weight: 600;
	}

	.info  p {
		color: #02678e;
	    font-size: 0.9em;
	}

	.info i {
		color: #fff;
		font-size: 1.5em;
		line-height: 80px;
	}

	.info-content div div:first-of-type:before {
	    content: "";
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background: #ffb900;
	    transform: scale(0);
	    transition-property: transform;
	    transition-duration: 0.5s;
	    transition-timing-function: ease-out;
	}

    .info-content div div:first-of-type:hover:before {
    	transform: scale(2);
	}

/*footer*/

.footer {
	padding: 30px 0;
	background-color: #000;
}

.footer-content {
	padding-bottom: 30px;
	margin: 0 auto;
	max-width: 90%;
	border-bottom: 1px solid #292C2D;
}

.footer-content div {
	padding: 0 15px;
}

.footer h3 {
	color: #fff;
	font-size: 1.8em;
	font-weight: 400;
	letter-spacing: 1px;
}

.footer p,
.footer a {
	color: #A3A3A4;
	font-size: 1.2em;
}

.footer ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.footer a {
	text-decoration: none;
	line-height: 2em;
	transition: 0.5s all;
}

.footer a:hover,
.copyright a {
	color: #00ACEE;
}

.footer-left ul {
	margin-top: 20px;
}

.footer-left ul li {
	display: inline-block;
	margin-right: 1em;
}

.footer-right input {
	width: 100%;
	margin: 1em 0 0;
	padding: 11px 20px;
	font-size: 15px;
	text-align: center;
	letter-spacing: 1px;
}

.footer-right input[type="submit"] {
	outline: none;
    border: none;
    color: #fff;
    border: 2px solid #00ACEE;
    text-transform: uppercase;
    background-color: #00ACEE;
    transition: 0.5s all;
}

.footer-right input[type="submit"]:hover {
	background-color: #FFB900;
	border-color: #FFB900;
}

.copyright p {
    padding: 40px 0 0;
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 2px;
}

